<div *ngIf="currentWeather" class="bg-gradient-to-r from-blue-400 to-blue-600 text-white p-6 rounded-lg shadow-md">
  <h2 class="text-3xl font-bold mb-4 text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-red-500">Current Weather</h2>
  <div class="grid grid-cols-2 gap-4">
    <div class="text-lg mb-2">
      <span class="block text-yellow-300 font-semibold">Temperature</span>
      <span class="font-semibold text-2xl">{{currentWeather.temperature}}°C</span>
    </div>
    <div class="text-lg mb-2">
      <span class="block text-yellow-300 font-semibold">Wind Speed</span>
      <span class="font-semibold text-2xl">{{currentWeather.windspeed}} m/s</span>
    </div>
    <div class="text-lg mb-2">
      <span class="block text-yellow-300 font-semibold">Humidity</span>
      <span class="font-semibold text-2xl">{{currentWeather.relativehumidity_2m}}%</span>
    </div>
    <!-- Add more fields as needed -->
  </div>
</div>
